@import "tailwindcss";

/* shake anitmation for the header notification icon */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake-animation {
  display: inline-block;
  animation: shake 1s infinite ease-in-out;
}
